
body{
	background: #ecf0f1;
	color: black;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

footer {
	background: #128871;
	padding: 2em 0;
	text-align: center;
	width: 100%;
}
footer  h5{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

header {
	background: #16a085;
	border-bottom: solid 4px #149077;
	border-top: solid 4px #149077;
	color: #FFF;
	margin: 0 ;
	padding: 0.5em 0.5em 0.3em 0.5em;
	position: relative;
}

header figure, header h1 {
	display: inline-block;
	vertical-align: top; 

}

header h1 {
	display: inline-block;
	font-size: 20px;
	font-weight: normal;
	margin: 1em 85px 1em 100px;
	text-align: center;
}

header #avatar {
	float: right;
	margin: 1em 1em 0 0;
	position: absolute;
	top:0;
	right:0;
}
header #avatar img{
	border: 2px solid rgba(255,255,255, 0.6);
	border-radius: 100px;
	width: 56px;
}
header #logo {

}
header #logo img{
	width: 70px;
}
nav {
	background: #fff;
	color: #4cae99;
	border-radius: 0 0 4px 4px;
	font-size: 0.9em;
	margin-bottom: 2em;
	position: relative;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	margin-right: 2em;
	vertical-align: top;
}
nav ul li a {
	color: #4cae99;
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}
nav #flechita_nav a{
	border-right: solid 1px #dadcdd;
	left: 0;
	padding-right: 0 5px;
	position: absolute;
}
nav #publicar_nav {
	background: #f4d6b8;
	margin-right: 0;
	right: 0;
	padding: 0 1em 0 4px;
	position: absolute;

}
nav #publicar_nav a{
	color: #d96600;

}
#contenido {
	margin: 1em;
}

#contenido .item {
	background: #fff;
	border: solid 1px #dddddd;
	margin-bottom: 2em;
	min-height: 103px;
	position: relative;	
}
#contenido .item .imagen_item {
	float: left;
	margin: 0px; 
}
#contenido .item .imagen_item img {
	width: 103px
}
#contenido .item .titulo_item a {
	color: #666666;
	font-size: 0.7em;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
}
#contenido .item .autor_item {
	color: #666666;
}
#contenido .item .autor_item a{
	color: #1abc9c;
	text-decoration: none;
}
#contenido .item .autor_item a:hover{
	color: #a3dfd3;
}
#contenido .item .item_datos{
	text-align: right;
	border-bottom: 1px solid #DDD;
	padding: 0 0 1em 0;
}
#contenido .item .item_datos p{
	color: #c3c3c3;
	float:left;
}
#contenido .item .item_datos a{
	font-size: 2em;
}
#contenido .item .item_datos a .icon-star{
	border-right: solid 1px #dddddd;
	color: #ffcc5f;
}
#contenido .item .item_datos a .icon-star:hover{
	color: #97ddcf;
}
#contenido .item .item_datos a .icon-comment{
	border-right: solid 1px #dddddd;
	color: #c7c7c7;

}
#contenido .item .item_datos a .icon-heart {
	color: #f5c7c7;
}
#contenido .item .item_datos a .icon-heart:hover{
	color: #97ddcf;
}
